[Unit]
Description=Slack Hangman bot
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/slack-hangman-bot
ExecStart=/home/user/slack-hangman-bot/hangman_bot.py
Environment=PYTHONIOENCODING=utf8
Restart=always
RestartSec=1
StartLimitIntervalSec=0


[Install]
WantedBy=multi-user.target

